# Global
.DS_Store
Thumbs.db
node_modules
dist
build
.turbo
.next
.vercel

# Env & secrets
.env
.env.*
!*.example
Credentials/
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

